<html>
<head><title>G00gle!!!</title>
<link type="text/css" rel="stylesheet" href={{url_for('static',filename='style.css')}}/>
</head>

<body background={{url_for('static',filename='2.png')}}>
{% if 'user' in session %}
<button onclick="location.href='/userPage'">userPage</button>
{% else %}
<button onclick="location.href='/login'">log in</button>
{% endif %}
<h3 title="Hi!">G00gle</h3>
<p><a href="http://www.google.com">
	<img src="https://www.google.com.hk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" width="272" height="92"/>
</a></p>
<p><ins><big><b><del><sup>S</sup>e</del><sub>a</sub></b>r</big>ch:</ins>
<a href="http://www.google.com">google</a></p>

<form action='/' method='POST' name='form1'>
<p><input name='search'></p>
<p><input type='submit' name='s' Value='search'></input>
<input type='submit' name='s' Value='feel lucky'></input></p>
</form>

</body>
</html>